/* .criminal {
    display: grid;
    font-size: 16px;
    border: 1px dotted blue;
}
   
 /*


.officer {
    font-size: 16px;
    border: 1px dotted blue;
}

/* .criminalsList {
    font-size: 16px;
    border: 1px dotted red;
} */

.criminalsList, .officersList, .notesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  
}

.criminal, .officer, .note {
  margin: 0.5rem;
  padding: 0.5rem;
  flex-basis: 25%;
}

.criminal {
  border: 1px dotted red;
}

.officer {
  border: 1px dotted blue;
}

.notesAside {
  display: flex;
  flex-direction: column;
  
}

.caseDataContainer {
  display: flex;
}

.note, .criminalsAssociate {
  border: 1px dotted orchid;
}

.criminalCard {
    font-size: 16px;
    border: 1px dotted pink;
    margin: 0.5rem;
  padding: 0.5rem;
  flex-basis: 25%
}

.criminalsList, .officersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
  }

  .criminal, .officer {
    margin: 0.5rem;
    padding: 0.5rem;
    flex-basis: 25%;
  }

    .noteFormContainer {
  background-color: lightgreen
    }

    .noteButton {
      display:flex;
      /* background-color: #3CBC8D; */
      text-decoration:none;
  color:#000;
  /* background:#ffc; */
  display:block;
  height:10em;
  width:10em;
  padding:1em;
    }
    .noteslist{
      
      background: #ffc
    }
   
    
    .criminalsAssociate {
      display: flex;
      flex-direction: column;
      display:flex;
      /* background-color: #3CBC8D; */
      text-decoration:none;
  color:#000;
  /* background:#ffc; */
  display:block;
  height:10em;
  width:10em;
  padding:1em;
      
    }